li a {
    color: green;
}

body {
    background: white url("images/background.jpg") no-repeat;
    margin: 0;
    padding: 7vh 10vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}